.element__like {
  background-image: url(../../../images/Like.svg);
  padding: 0;
  border: none;
  font: inherit;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  height: 19px;
  width: 22px;
  margin: auto 20px auto 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.element__like:hover {
  opacity: 0.5;
  -webkit-transition-property: 0.5s;
  -o-transition-property: 0.5s;
  transition-property: 0.5s;
}
