.profile__edit-button {
color: #fff;
width: 24px;
height: 24px;
}


.profile__edit-button:hover {
  opacity: 0.5;
  transition-property: 0.5s;
  cursor: pointer;
}


@media (max-width: 625px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
