.profile {
  max-width: 880px;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .profile {
    width: var(--main-width);
    flex-direction: column;
    min-height: 286px;
    align-items: center;
    justify-content: space-between;

  }
}


@media (max-width: 625px) {
  .profile {
    width: calc(100% - 19px*2);
  }
  }
