.popup__save {
  padding: 0;
  border: none;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  min-height: 50px;
  width: 83.26%;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0 36px 37px;
}

.popup__save:hover {
  opacity: 0.5;
  -webkit-transition-property: 0.5s;
  -o-transition-property: 0.5s;
  transition-property: 0.5s;
}

@media (max-width: 450px) {
  .popup__save {
    font-size: 14px;
    line-height: 1.063rem;
    min-height: 46px;
    margin: 0 22px 25px 22px;
  }
}
